<div class="container_big_card">
  <a [routerLink]="['content', id]">
    <div class="img_big_card">
      <img src="{{ photoCover }}" alt="" srcset="" height="437px" />
    </div>
    <div class="date_big_card">
      <p>
        {{ cardData }}
      </p>
    </div>
    <div class="title_big_card">
      <h1>
        <a [routerLink]="['content', id]">
          {{ cardTitle }}
        </a>
      </h1>
    </div>
    <div class="description_big_card">
      <p>
        {{ cardResumoDescription }}
      </p>
    </div>
  </a>

  <div class="sep_big_card">
    <hr />
  </div>
</div>
