.container_big_card {
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title_big_card h1 {
  margin-top: 15px;
  font-size: 20px;
}

.description_big_card {
  margin-top: 20px;
}

.description_big_card p a {
  color: gray;
}

.img_big_card img {
  width: 100%;
}
