@media screen and (max-width:1415px) {
  .container_menu_title h1 {
    font-size: 78px;
  }
}

@media screen and (max-width: 860px) {
  .container_menu_title h1 {
    font-size: 47px;
  }
}

@media screen and (max-width: 520px) {
  .container_menu_title h1 {
    font-size: 26px;
  }
}
