<div class="container_small_card">
  <div class="container_small_card_content">
    <div class="img_small_card">
      <img
        src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blte015bc5a8a93a16a/634216dc762be510f72ffedc/getty_arena_corinthians.jpg?auto=webp&format=pjpg&width=3840&quality=60"
        alt=""
        srcset=""
      />
    </div>

    <div class="title_small_card">
      <h1><a href="#">Neo Química Arena bate record de público</a></h1>
    </div>
  </div>

  <div class="sep_small_card">
    <hr/>
  </div>
</div>
