.container_small_card {
  /* border: 1px solid #FFFFFF; */
  width: 700px;
  margin-bottom: 15px;
}

.container_small_card_content {
  display: flex;
  flex-direction: row;
}

.img_small_card img {
  width: 259px;
  min-width: 259px;
  margin-right: 20px;
}

.resume_small_card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date_big_card p {
  color: #898989;
}

.sep_small_card {
  margin-top: 10px;
}

.sep_small_card hr {
  color: #898989;
}
