<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles_big_card">
    <!-- Apenas um big-card -->
    <!-- Componente big-card tem propriedades inputáveis que devem ser alimentadas -->
    <app-big-card
      id="1"
      photoCover="https://cdn.espn.com.br/image/wide/622_9ed38eb3-b595-3d4e-97ae-9525776648d9.jpg"
      cardTitle="Mundial FIFA 2012"
      cardResumoDescription="Corinthians chega ao Japão para disputa do Mundial FIFA 2012"
      cardDescription="Começou. O Corinthians, enfim, chegou ao Japão para a disputa do Mundial de Clubes, exatos três dias depois de deixar o Brasil empurrado por uma multidão de 15 mil pessoas que invadiu o Aeroporto de Guarulhos para se despedir. E teve de tudo no desembarque alvinegro em Tóquio nesta quinta-feira, de medo de japoneses a correria, confusão e principalmente muita festa.
      O dia começou longo para os corintianos que moram e que foram ao país asiático torcer pelo time do Parque São Jorge. Muitos se deslocaram diretamente a Nagoya para esperar pela equipe à porta do Hotel Hilton, onde a delegação iria se hospedar. Uma minoria - composta por cerca de 50 pessoas - foi ao Aeroporto de Narita, em Tóquio, aguardar a chegada dos ídolos.
      Antes de os jogadores começarem a entrar no saguão, contudo, a forte presença policial chamava a atenção. O Japão resolveu multiplicar a segurança por medo após a divulgação de vídeos da torcida corintiana em Guarulhos na última segunda, quando a invasão ao Aeroporto de Cumbica proporcionou confusão com tiros de borracha e até spray de gás de pimenta no adeus alvinegro do Brasil.
      Assim, entre aproximadamente 70 policiais e seguranças que rondavam e tomavam conta do desembarque corintiano, os atletas foram aparecendo e causando correria entre torcedores, guardas, imprensa e até curiosos, que não sabiam do que se tratava. Uma americana, assustada ao ver o caos se instalando, perguntou horrorizada a uma amiga: quem diabos são essas pessoas?
      De Narita, a delegação paulista pegou ônibus e trem até Nagoya, em viagem de três horas de duração. E se os jogadores já ficaram surpresos com a quantidade de fãs no aeroporto (Romarinho chegou a dizer que ficou emocionado com o assédio), ficaram ainda mais espantados com a recepção programada para a porta do Hotel Hilton.
      Mais de 200 torcedores alvinegros criaram um verdadeiro clima de estádio e saudaram os atletas com bandeiras, gritos e muita confusão. Os japoneses, atônitos, precisaram recorrer à segurança do hotel e também a reforço policial para conter o ímpeto dos corintianos, eufóricos com a chegada da equipe. Até grades de proteção foram colocadas para facilitar o acesso dos jogadores.
      Teve espaço também para um princípio de empurra-empurra e excessos de corintianos com bebida, em festa que parecia não ter hora para acabar. A polícia tentou controlar as ações por meio de um megafone, mas foi ignorada ao ver a organizada do clube paulista seguir se esgoelando em músicas de incentivo. É, parece que a tão anunciada invasão corintiana ao Japão está começando. E isso foi apenas o primeiro dia..."
      cardData="Dezembro 12, 2012"
    ></app-big-card>
  </div>

  <div class="articles_small_cards">
    <!-- Vários small-cards -->
    <app-small-card
      id="2"
      photoCover="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blte015bc5a8a93a16a/634216dc762be510f72ffedc/getty_arena_corinthians.jpg?auto=webp&format=pjpg&width=3840&quality=60"
      cardTitle="Neo Química bate mais um record"
      cardData="Julho 25, 2023"
    ></app-small-card>
    <app-small-card
      id="3"
      photoCover="https://noticiasdotimao.com.br/wp-content/uploads/2023/06/FQWw9YXUYAUwSx-.webp"
      cardTitle="Por que o Mosqueteiro é o mascote do Corinthians?"
      cardData="Junho 24, 2023"
    ></app-small-card>
    <app-small-card
      id="4"
      photoCover="https://centraldotimao.com.br/wp-content/uploads/2019/11/bdf68f07-d614-4a4c-bbf7-f751cd641ef2.jpg.640x360_q75_box-00640359_crop_detail.jpg"
      cardTitle="Gigante Cássio pega mais um pênalti"
      cardData="Agosto 30, 2023"
    ></app-small-card>
  </div>
</div>
